@import "../../App.scss";

.hero {
  &.has-background {
    position: relative;
    overflow: hidden;
  }
  &-background {
    position: absolute;
    object-fit: cover;
    object-position: center center;
    width: 100%;
    height: 100%;
  }
  &.is-transparent {
    opacity: 0.3;
  }
}

.container {
  background-color: $beige-light;
  padding: 50px;
  border-radius: 11px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin-bottom: 40px !important;
  color: $brown !important;
}

.subtitle {
  margin-bottom: 40px !important;
  color: $brown !important;
}
